$sidebar-inline-size: 18.5rem;
$avatar-inline-size: 2.5rem;

$assignment-dropdown-menu-inline-size: 20rem;
$assignment-reply-text-select-inline-size: 6.4375rem;
$assignment-reply-textarea-block-size: 12.25rem;
